<!doctype html>
<head>
    <title>yodns</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700,400">
    <style type="text/css">
        h1 {
            font-size: 200px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        p {
            font-size: 25px;
        }
        body {
            font-family: "Montserrat", arial, sans-serif;
            background-color: #9b59b6;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>YODNS</h1>
        <p>(has been resolved)</p>
        <br/>
        <p>We'll YO you when your domain resolves to the desired CNAME.</p>
        <form action="/" method="post" role="form" class="form-inline">
                <input type="text" name="username" class="form-control" placeholder="yo username"/>
                <input type="text" name="domain" class="form-control" placeholder="domain"/>
                <input type="text" name="cname" class="form-control" placeholder="CNAME"/>
                <input type="submit" name="submit" class="btn btn-default" value="submit" />
            {% if submitted %}
            <h2>submitted, yo!</h2>
            {% endif %}
        </form>
    </div>
</body>
